/* normalize CSS */
/* základní nastavení */


/* box-sizing  vypocet celkove sirky a vysky prvku, zahrnuje padding a border */
/* text-rendering  optimalizace písma při vykreslení */
/* font-kerning úprava mezer mezi určitými dvojicemi písmen */

*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body {
    color: #fff;
    background: #000;
    margin: 0; 
    overflow: hidden;
    overflow-y: auto;
}



