/* normalize CSS */
/* základní nastavení */

/* box-sizing  vypocet celkove sirky a vysky prvku, zahrnuje padding a border */
/* text-rendering  optimalizace písma při vykreslení */
/* font-kerning úprava mezer mezi určitými dvojicemi písmen */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  color: #fff;
  background: #000;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

/* spolecne nastaveni pro index.html a hra.html */
/* responzive resim s clamp(min dovolena size, velikost jako potrebuji, max dovolena velikost)*/

/* 1rem automaticke zvetsovani a zmensovani   */
body {
  background-image: linear-gradient(
    to bottom,
    rgb(97, 93, 173),
    rgb(255, 200, 218)
  );
  min-height: 100vh;
}

.title {
  font-size: clamp(2rem, 10vw, 3rem);
  font-family: "Lobster", sans-serif;
  margin: 30px 0;
}
