body {
  background-image: linear-gradient(
    to bottom,
    rgb(97, 93, 173),
    rgb(255, 200, 218)
  );
  min-height: 100vh;
}

/* 1rem automaticke zvetsovani a zmensovani   */
.container {
  position: relative;
  top: 2.5rem;
  width: 37rem;
  margin: 0 auto;
  background: #283e50;
  color: #ffffff;
  border-radius: 0.5rem;
}

.content {
  margin: 1rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* responzive resim s clamp(min dovolena size, velikost jako potrebuji, max dovolena velikost)*/
.title {
  font-size: clamp(1.75rem, 8vw, 2.5rem);
  padding: 0.5rem;
  line-height: 1;
  font-family: "Lobster", sans-serif;
}

.text {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 1rem 0 0;
 
}

.links {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.links a {
  min-width: 20px;
  color: white;
}

.links a {
  line-height: 4;
  text-align: center;
  text-decoration: none;
}

.green {
  background-color: rgb(31, 204, 164);
  margin: .7px 0;
}

.green:hover {
  background-color: rgb(28, 187, 150);
}

.blue {
  background-color: rgb(1, 151, 246);
}

.blue:hover {
  background-color: rgb(0, 144, 233);
}

figure img {
  border-top: 0.5px solid rgb(6, 6, 6);
  border-radius: 0.35rem 0.35rem 0 0;
}
